# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/

# Virtual environment
venv/
.venv/
env/

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# Environment & credentials
.env
kaggle.json
*.json.bak

# Dataset & model — jangan push ke repo
*.zip
*.csv.gz
*.h5
*.pt
*.pth
*.pkl
*.onnx
/data/raw/
/data/processed/
/content/

# OS
.DS_Store
.DS_Store?
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
